body {
  text-align: center;
}
.container {
  li {
    :active {
      color: red;
    }
    color: #999;
    display: inline-block;
    transition: color 0.25s;
    i {
      font-style: normal;
      font-size: 1600%;
    }
    span {
      display: block;
      margin: -1.5em 0 0 0;
    }
  }
  li:hover {
    color: #000;
    cursor: pointer;
  }
}
