// normalize.css is requested immediately before this sheet
// in the <head> of index.html

@font-face {
  font: {
    family: 'symbola-arcana';
    style: normal;
    weight: normal;
  }
  src:  url('../fonts/symbola-arcana.woff2') format('woff2'),
        url('../fonts/symbola-arcana.woff')  format('woff');
}

body {
  text-align: center;
}

.card {
  cursor: pointer;
  display: inline-block;
}

.glyph {
  // font-family: 'symbola-arcana';
  font-size: 1200%;
  display: none;
}

.card::before {
  color: darkblue;
  content: '\1F0A0';
  font-size: 1200%;
}

.card p {
  font-size: 75%;
  margin: 0;
  visibility: hidden;
}

.flipped.card::before {
  content: '';
}

.flipped.card .glyph {
  display: inline;
}

.flipped.card p {
  visibility: visible;
}

.hearts .glyph,
.diamonds .glyph {
  color: red;
}
